* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

html {
  height: 100vh;
}

 .dismount{
  display: none !important ;
}

#root {
  height: 100%;
}

#cart__widget{
  display: flex;
}
#cart__widget Link p{
  padding-left: 5px;
} 

body {
  background-color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: black;
}

#contador {
  display: flex;
  align-items: center;
  font-size: small;
  justify-content: space-between;
  padding: 5px;
  width: 140px;
  height: max-content;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

#contador button {
  border: 0;
}

.cart{
  width: 100%;
  height: max-content;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #94c1f5 0%, #c2dbff 100%);
}

.cart .cart__items{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  width: 100%;
  margin: 20px  0  20px 0;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.cart__article{
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: white;
  padding: 1.45em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;
  width: 17em;
  height: 20em;
  border-radius: 4px;
}

.cart__article .article__text{
  font-size: medium;
  font-weight: bold;
}

.cart__article .article__price{
  font-weight: bold;
  color: #1FCB4A;
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  width: max-content;
  min-width: 100px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  margin: 5px;
}


.swal2-popup {
  border: 1px solid black !important;
}

section {
  min-height: 65vh;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* --------------HEADER-------------- */
header {
  border-bottom: 1px solid #dedede;
  z-index: 1000;
  width: 100%;
  grid-area: header;
  background-color: white;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: ". logo social";
}
header .header__logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}
header .header__logo .logo__img {
  height: 6.25em;
  margin-top: 0.32em;
}
header .header__social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: social;
}
header .header__social .social__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 3.75rem;
  border-bottom: 3px solid #dedede;
  transition: all 0.65s;
}
header .header__social .social__container:hover {
  border-bottom: 3px solid #202020;
}
header .header__social .social__container .container__icono {
  width: 1.562rem;
  margin: 0 0.93rem 0 0.93rem;
  transition: all 0.25s;
}
header .header__social .social__container .container__icono:hover {
  transform: scale(1.3);
}

/* --------------NAV-------------- */
nav {
  box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid #dedede;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.65em 0 0.65em 0;
  margin: 0;
  width: 100%;
  height: max-content;
}
nav .nav__icono {
  height: 1em;
  transition: all 0.25s;
}
nav .nav__icono:hover {
  transform: scale(1.5);
}
nav .nav__lista {
  padding: 0 3.12em 0 3.12em;
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin: 0;
}
nav .nav__lista .nav__item {
  display: block;
  color: black;
  padding: 0.62em 0 0.62em 0;
  justify-items: center;
}
nav .nav__lista .nav__item .nav__buscador {
  padding: 4px;
  border: 1px solid #a2a2a2;
}
nav .nav__lista .nav__item .nav__buscador::placeholder {
  color: black;
}
nav .nav__lista .nav__item a p {
  margin: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.45s;
}
nav .nav__lista .nav__item a p:hover {
  color: black;
  border-bottom: 2px solid black;
}

/* --------------FOOTER-------------- */
footer {
  z-index: 900;
  box-shadow: 0 -10px 5px -10px rgba(0, 0, 0, 0.26);
  grid-area: footer;
  max-height: 8.125rem;
  background-color: white;
  border-top: 1px solid #dedede;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "izquierda centro derecha";
}
footer a {
  text-decoration: none;
  color: black;
}
footer .footer__centro {
  grid-area: centro;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}
footer .footer__centro .centro__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
footer .footer__centro .centro__lista strong,
footer .footer__centro .centro__lista small,
footer .footer__centro .centro__lista span {
  width: max-content;
}
footer .footer__derecha {
  grid-area: derecha;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}
footer .footer__derecha .derecha__lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1rem 0 1rem 0;
  padding: 0;
}
footer .footer__derecha .derecha__lista .lista__item {
  margin: 0.25em 0 0.25em 0;
  height: 1rem;
}
footer .footer__derecha .derecha__lista .lista__item label {
  width: 100%;
  height: 100%;
  align-content: center;
}
footer .footer__derecha .derecha__lista .lista__item label .iconContacto {
  width: 1rem;
}


.itemListContainer{
  width: 100%;
  height: max-content;
  min-height: 590px;
  justify-content: center;
  display: flex;
}
.itemListContainer .carga {
  padding-top: 300px;
  font-size: 30px;
  font-weight: bolder;
}


.itemListContainer .aside {
  z-index: 850;
  /* box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.26); */
  border-right:1px solid #dedede ;
  background-color: #ffffff;
  grid-area: aside;
  border-top: 0;
  width: 13vw;
  height: 100%; 
}
  .itemListContainer .aside .aside__lista {
    padding: 7.5em 0 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 4rem;
    z-index: 800;
    margin: 0; }
    .itemListContainer .aside .aside__lista .lista_checkboxes {
      width: 100%;
      justify-content: start;
      padding: 2em; }
  .itemListContainer .aside .aside__item {
    padding: 1.25em 0 1.25em 0; }
    .itemListContainer .aside .aside__item p {
      margin: 0; }



.itemListContainer .itemList {
  grid-area: itemList;
  width: 87vw;
  height: max-content;
  min-height: 60vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #94c1f5 0%, #c2dbff 100%);
}

.itemListContainer .itemList .itemList {
  margin: 1rem 0 1rem 0;
  width: max-content;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0.43em;
  grid-row-gap: 0.43em;
}
.itemListContainer .itemList .itemList .grid__article {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  background-color: white;
  padding: 1.45em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;
  width: 17em;
  height: 20em;
  border-radius: 4px;
}
.itemListContainer .itemList .itemList .grid__article .article__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.itemListContainer .itemList .itemList .grid__article .article__buttons .btn {
  border: 0;
}
.itemListContainer .itemList .itemList .grid__article .article__buttons .button__cart{
  width: 1.3em;
  transition: all 0.25;
}

.itemListContainer .itemList .itemList .grid__article .article__imagen {
  width: 15.625rem;
  align-content: center;
}
.itemListContainer .itemList .itemList .grid__article .article__nombre {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.itemListContainer .itemList .itemList .grid__article .article__precio {
  font-size: medium;
  color: #1FCB4A;
  font-weight: bold;
  margin-bottom: 10px;
}
.itemListContainer .itemList .itemList .grid__article:hover {
  transform: scale(1.07);
}







.itemDetailContainer {
  background-image: linear-gradient(to bottom, #94c1f5 0%, #c2dbff 100%);
  width: 100%;
  height: max-content;
  min-height: 60vh;
  padding: 1.25rem 0 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemDetailContainer .section__grid {
  height: max-content;
  padding: 3.125em;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas: "subImg princImg datos";
}
.itemDetailContainer .section__grid .grid__imgSecundarias {
  padding: 1.25em;
  grid-area: subImg;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dedede;
}
.itemDetailContainer
  .section__grid
  .grid__imgSecundarias
  .imgSecundarias__secundaria {
  height: 6.8em;
  width: 6.8em;
  transition: all 0.2s;
}
.itemDetailContainer
  .section__grid
  .grid__imgSecundarias
  .imgSecundarias__secundaria:hover {
  transform: scale(2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
}
.itemDetailContainer .section__grid .grid__imgPrincipal {
  display: flex;
  grid-area: princImg;
  justify-content: space-between;
  padding: 1.25em;
  width: 23.12rem;
  align-content: center;
}
.itemDetailContainer .section__grid .grid__datos {
  align-items: center;
  align-content: space-between;
  padding: 1.25em;
  grid-area: datos;
  height: 100%;
  display: grid;
  grid-template-columns: 33.12em;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas:
    "nombre"
    "precio"
    "descripcion"
    "selectores";
  row-gap: 17px;
}
.itemDetailContainer .section__grid .grid__datos h2 {
  font-size: 1.87em;
  flex-wrap: wrap;
}
.itemDetailContainer .section__grid .grid__datos p {
  margin: 0;
  font-size: medium;
}
.itemDetailContainer .section__grid .grid__datos .datos__precio {
  font-size: medium;
  color: #1FCB4A;
  font-weight: bold;
  grid-area: precio;
}
.itemDetailContainer .section__grid .grid__datos .datos__descripcion {
  width: 33rem;
  font-size: 13px;
  text-align: justify;
  color: #2e2e2e;
  grid-area: descripcion;
}
.itemDetailContainer .section__grid .grid__datos .datos__selects {
  display: flex;
  font-size: 1.062em;
  grid-area: selectores;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.93rem;
  border-top: 1px solid #dedede;
}
.itemDetailContainer .section__grid .grid__datos .datos__selects #talle {
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
    padding: 7px;
    width: max-content;
    height: 36px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.itemDetailContainer .section__grid .grid__datos .datos__inputs {
  grid-area: botones;
  display: flex;
  width: 100%;
}
#btn__carrito #img__cart {
  margin-left: 0.62em;
  width: 1.3rem;
}
#btn__carrito {
  margin-left: 10px;
  height: 36px;
}
